#buttons {
    background-color:white;

    margin-left: 2vh;
    width: 250px;
    border-radius: 25px;

}
#body {
    overflow-y: scroll;
    margin-top: -3.2vh;
    height: 90vh;
    background-color: rgb(242, 242, 242);
}
#buttons button {
    
    display: inline;
    
}
#uph {
    
    height: 35px;
    padding-right: 31.5px;
    padding-left: 31.5px;
    width: 125px;
    margin-left: 0;
    border-radius: 25px 0px 0px 25px;
}
#hish {
    border-radius: 25px;
    height: 35px;
    width: 125px;
    padding-right: 32.5px;
    padding-left: 32.5px;
    background: rgb(255, 255, 255);
}
#myimgh {
    height: 70px;
    width: 70px;
    margin-left: -4vh;
    margin-top: 5vh;
    border-radius: 5px;
}
#check {
    display: inline-flex;
    margin-left: 10vh;
    margin-top: -6vh;
    font-size: 14px;
}
ul h4 {
    font-size: 14px;
    margin-top: -11vh;
    margin-left: 8vh;
}
#outh {
    margin-left: 9vh;
}
#date {
    margin-top:-7vh;
    margin-left: 6vh;
    display: inline-flex;
}
#snd {
    margin-left: 5vh;
}
#date h2 {
    font-size: 12px;
}
#space {
    margin-top: -2vh;
    margin-left: 3vh;
    color: rgb(156, 158, 159);
}
#write {
    color: rgb(146, 209, 19);
    border-radius: 6px;
    background-color: yellow;
    margin-top: 1vh;
    margin-left:-2vh ;
    width: 35vh;
}
#myimghh {
    height: 70px;
    width: 70px;
    margin-left: -4vh;
    margin-top: 5vh;
    border-radius: 5px;
}
#navbarh {
    display: flex;
    background: rgb(255, 255, 255);
    position: fixed;
    margin-top:0vh;
    width: 280px;
}
#navbarh ul {
    margin-left: -2vh;
}
ul p {
    font-size: 10px;
    text-align: center;
    margin-left: -1vh;
    
}
#reviewh {
    margin-top: 6vh;
}
#myrev {
    color: rgb(19, 181, 209);
    border-radius: 6px;
    background-color: rgb(252, 252, 252);
    margin-top: 1vh;
    margin-left:-2vh ;
    width: 35vh;
}